@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@500;700;900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    --mainColor: #555;
    --subColor: #f0eeee;
    --bgColor: #333;
    --charaColor: #e32d88;
    background-color: var(--bgColor);
    font-family: 'Zen Kaku Gothic New';
    color: var(--subColor);
}
header {
    background-color: white;
    color: var(--mainColor);
    padding: 5px 0;
    height: 60px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0 10px #0001;
}
img {
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-touch-callout: none;
    -moz-user-select: none;
    user-select: none;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding : 0 16.9px;
    box-sizing: border-box;
}
.header-container > h1 {
    display: inline-flex;
    margin-left: 2.2vw;
}
header nav.pc ul {
    display: flex;
    padding-left: 10px;
}
header nav.pc ul li:nth-child(1) {
    color: var(--charaColor);
}
header nav.pc ul li {
    list-style-type: none;
    margin: 0 1.2vw;
    font-weight: 700;
}
.logo {
    height: 45px;
}
.name {
    position: absolute;
    left: 0;
    width: 55%;
    background-color: var(--subColor);
    box-sizing: border-box;
    padding: 20px 40px;
    min-width: 450px;
    max-width: 540px;
    opacity: 0;
    animation: fadein 0.4s ease 0.8s forwards;
}
.name img{
    width: 100%;
}
.charactor {
    width: 39%;
    max-width: 380px;
    min-width: 320px;
    position: absolute;
    right: 2px;
    top: 22px;
    opacity: 0;
    animation: fadein 0.4s ease 0.4s forwards;
}
.top-content {
    max-width: 900px;
    min-height: 450px;
    margin: 0 auto;
    height: calc(100vh - 150px);
    position: relative;
    margin-top: 59px;
    padding: 0 50px 0;
    z-index: 2;
}
.main-content {
    background: var(--mainColor);
    padding: 20px;
    margin-top: 20px;
}
.character-profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.character-profile img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}
.character-details {
    max-width: 60%;
    text-align: left;
    margin-left: 10px;
}
footer {
    background-color: var(--subColor);
    color: var(--mainColor);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
@keyframes fadein {
  0% {
     opacity: 0;
     transform: translateY(20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}
@-webkit-keyframes fadein {
  0% {
     opacity: 0;
     transform: translateY(20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}